@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

@keyframes popFade {
  0% {
    opacity: 0;
    transform: scale(0.7) translateY(20px);
  }
  20% {
    opacity: 1;
    transform: scale(1.15) translateY(0);
  }
  50% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  80% {
    opacity: 1;
    transform: scale(1.05) translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: scale(0.7) translateY(-20px);
  }
}
